.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.form input {
    padding: 10px;
    border-radius: 12px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.6s;
}

.form input:hover {
    padding: 14px;
    transition: 0.6s;
}

.button {
    padding: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: rgb(220, 255, 215);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.2s;
}

.button:hover {
    background-color: rgb(174, 255, 164);
    transition: 0.2s;
}