* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(236, 246, 255);
}

.container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 10px 20px 0px;
    padding: 60px;
    background-color: rgb(231, 243, 255);
    border-radius: 12px;
}
