* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 246, 255);
}

.container {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 5px 20px 0px;
    background-color: rgb(231, 243, 255);
}

.container p, h1 {
    font-size: 25px;
}

button {
    padding: 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 231, 215);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.2s;
}